.greyBox{
    background-color:rgb(211, 207, 207);
}

.paragraphBox{
    padding-top: 20px;
    margin: 20px;
    width: 850px;
    background-color:rgb(211, 207, 207);
    border: solid 5px rgb(112, 25, 42);

    display: flex;
    flex-direction: row;
    float: left;
}

.mainHeader{
    padding: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px black;
}

.mainHeaderRed{
    color:rgb(112, 25, 42);
    padding: 10px;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
}

.paragraphStuff{
    text-align: center;
}

.allignBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.anotherCenterBox{
    display: flex;
    justify-content: center;
}

.colorText{
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    color:darkred
}

.colorTextDark{
    padding-left: 50px;
    font-weight: 400;
    font-size: large;
    color:rgb(55, 13, 13)
}

.colorTextLight{
    font-size: large;
    color:darkred
}

.imgSetting{
    border: solid 5px rgb(58, 14, 23);
    width: 850px;
}

.littleImgSetting{
    width: 400px;
    margin-top: 40px;
}

.space{
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  
    body{
        background-color: rgb(255, 255, 255);
    }
    #imgSetting{
        border: solid 5px rgb(58, 14, 23);
        width: 500px;
    }
}

